<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "Post Comment" %>
  </p>
<% end %>