<% @post.comments.each do |comment| %>
  
  <% if comment.photo_updated_at %>
    <div class="comment">
  <% else %>
    <div class="comment_without_image" >
  <% end %>
      <div class="<%= cycle('comment_odd','comment_even') %>">
        
        <% if comment.photo_updated_at %>
          <div class="image">
            <%= link_to image_tag(comment.photo.url(:small)), comment.photo.url(:original) %><br />
            <%= link_to "Delete comment", comment, :method => :delete %>
          </div>
        <% end %>

      <p>
      	<span class="details">
          <%= comment.created_at.strftime("%d/%m/%y %I:%M:%p") %>
          
          <% if comment.username == "" %>
            <%= comment.username = "Anonymous" %>:
          <% else %>
            <%= comment.username %>:
          <% end %>

        </span>
      </p>
      <p><%= comment.content %></p>

      <% if !comment.photo_updated_at %>
        <%= link_to "Delete comment", comment, :method => :delete %>
      <% end %>

    </div>
  </div>
<% end %>