<% @posts.each do |post| %>
  <%# if an image was uploaded %>
  <% if post.photo_updated_at %>
    <div class="post">
  <% else %>
    <div class="post_without_image">
  <% end %>

    <div class="<%= cycle('post_even','post_odd') %>">

      <% if post.photo_updated_at %>
        <div class="image">
          <%= link_to image_tag(post.photo.url(:small)), post.photo.url(:original) %>
        </div>
      <% end %>

      <span class="details">
        <p><%= post.created_at.strftime("%d/%m/%y %I:%M%p") %>
        
        <span class="username">
          <% if post.username == "" %>
            <%= post.username = "Anonymous" %>:
          <% else %>
            <%= post.username %>:
          <% end %>
          </span>

        </p>

      </span>

      <p><%= truncate(post.content, :length => 500) %></p>
      <%= link_to 'Reply', post %> |
      <%= link_to 'Delete', post, 
                            method: :delete,
                            data: { 
                            confirm: 'Are you sure?'} %>
    </div>
  </div>
<% end %>


